
.search-box {
    position: relative;
    float: right;
  }
  .search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
  }
  .search-box input:focus {
    border-color: #3fbae4;
    outline: none;
  }
  .search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
  }
  